.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #ffffff;
    min-height: 100vh;
    height: 100%;
    transition: all 0.5s ease;
}
.divloading{
  position: absolute;
    top: 50%;
    left: 50%;
}
.ploading{
  position: absolute;
    top: 100%;
    left: -20%;
}
/* HTML: <div class="loader"></div> */
.loading { 
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    border-radius: 50%;
    background:
      linear-gradient(0deg ,rgb(0 0 0/50%) 30%,#0000 0 70%,rgb(0 0 0/100%) 0) 50%/8% 100%,
      linear-gradient(90deg,rgb(0 0 0/25%) 30%,#0000 0 70%,rgb(0 0 0/75% ) 0) 50%/100% 8%;
    background-repeat: no-repeat;
    animation: l23 1s infinite steps(12);
  }
  .loading::before,
  .loading::after {
     content: "";
     grid-area: 1/1;
     border-radius: 50%;
     background: inherit;
     opacity: 0.915;
     transform: rotate(30deg);
  }
  .loading::after {
     opacity: 0.83;
     transform: rotate(60deg);
  }

  .darkwrapper{
    background: #2c2c2c;
  }
  
  @keyframes l23 {
    100% {transform: rotate(1turn)}
  }

  @media screen and (max-width: 840px) {
    .wrapper{
        display: block;
        min-width: 100vw;
        width: 355px;
        min-height: 100vh;
        height: 100%;
    }
  }
