.sidebar{
    display: grid;
    position: fixed;
    width: 200px;
    height: 100%;
    min-height: 100vh;
    background: #C4C4C4;
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
    align-content: start;
    justify-items: center;
    
}

.sort{
    border: 1px solid #000;  
}

.sort p{
    background: #dfe36f;
    padding: 0px 20px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.sort p:hover{
    background: #8177f8;
    
}

.search{
    border: 1px solid #000;
    padding: 5px;
    margin-bottom: 5px
}

.searchblock{
    margin-bottom: 40px;
    text-align  : center;
}

.clear{
    border: 1px solid #000;
    color: #000;
    padding: 5px 15px;
    background: #dfe36f;
    transition: all 0.5s ease;
    cursor: pointer;
}

.clear:hover{
    background:  #8177f8;
}

.newcard{
    text-decoration: none;
    border: 1px solid #000;
    color: #000;
    padding: 5px 15px;
    background: #dfe36f;
    transition: all 0.5s ease;
    margin-bottom: 40px;
    margin-top: 40px;
}

.newcard:hover{
    background:  #8177f8;
}
.switcher{
    position: absolute;
    width: 30px;
    height: 100vh;
    align-content: center;
    text-align: center;
    left: 240px;
    background: #625858;
    color: white;
    visibility: hidden;
}

@media screen and (max-width: 840px) {
    .sidebar{
        height: 100%;
        left: -56.5%;
        transition: all 0.5s ease;
        width: 200px;
        z-index: 2;
    }
    
    
    .switcher{
        visibility: visible;
    }
    
    .opensidebar {
    left: 0;
    }

    .show.switcher::after{
        visibility: visible;
    }

    .switcher::after{
        content: '';
        width: 400px;
        height: 100vh;
        margin: 4px;
        top: -4px;
        position: absolute;
        backdrop-filter: blur(2px);
        visibility: hidden;
    }

    
}