.sidebar{
    display: grid;
    position: fixed;
    width: 230px;
    height: 100%;
    min-height: 100vh;
    background: #C4C4C4;
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
    align-content: start;
    justify-items: center;
    
}

.sort{
    border: 1px solid #000;

    
}

.sort p{
    background: #dfe36f;
    padding: 0px 20px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.sort p:hover{
    background: #8177f8;
    
}

.search{
    border: 1px solid #000;
    background: #dfe36f;
    padding: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
    
}

.search:hover{
    background: #8177f8;
}

.searchblock{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
    margin-bottom: 40px;
}

.newcard{
    text-decoration: none;
    border: 1px solid #000;
    color: #000;
    padding: 5px 15px;
    background: #dfe36f;
    transition: all 0.5s ease;
    margin-bottom: 40px;
    margin-top: 40px;
}

.newcard:hover{
    background:  #8177f8;
  
}