.card{
    display: grid;
    position: relative;
    grid-template-rows: 1fr auto 1fr;
    border: 1px solid #000;
    border-radius: 10px;
    justify-items: center;
    align-items: flex-end;
    padding: 20px 0px 20px 0px;
    gap: 20px;
    width: 320px;
    height: 460px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.8); 
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.8);
   transition: all 0.5s ease;
}

.editblock{
    position: absolute;
    right: 0px;
    bottom: 50px;
    height: 122px;
    width: 60px;
    border: 1px solid #000;
    border-right: none;
    align-content: center;
}

.edit{
    background: #dfe36f;
    padding: 3.5px 0px;
}
.edit:hover{
    background:  #8177f8;
  
}

.delete{
    background: #dfe36f;
    cursor: pointer;
    padding: 3.1px 0px;
    border-top: 1px solid #000;
}
.delete:hover{
    background:  #8177f8;
  
}
.download{
    position: absolute;
    left: 0;
    bottom: 75px;
    background: #dfe36f;
    cursor: pointer;
    border: 1px solid black;
    border-left: none
}
.download:hover{
    background:  #8177f8;
}

.card:hover{
    transform: scale(1.05);
}
.darktext{
    background: none;
    color: #fff
}

@media screen and (max-width: 840px) {
    .card:hover{
        transform: none;
    }
    .darktext{
        background: black !important;
        color: #ffffff
    }
    .card{
        display: flex;
        position: relative;
        border: 1px solid #000;
        align-items: flex-end;
        padding: 0px;
        gap: 20px;
        width: 340px;
        height: 200px;
        box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.8);
        
        border-radius: 0;
        margin: 20px 35px 0 0;
    }
    .cname{
        justify-self: center;
        position: absolute;
        top: 10px;
        left: 50%;
        right: 50%;
        background: #fff;
        white-space: nowrap;
        padding: 2px;
    }
    .cdeck{
        justify-self: center;
        position: absolute;
        bottom: 10px;
        left: 50%;
        right: 50%;
        background: #fff;
        padding: 2px;
    }
    .editblock{
        position: absolute;
        height: 122px;
        width: 60px;
        bottom: 30px;
        border: 1px solid #000;
        border-right: none;
        align-content: center;
    }
}