.table{
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 350px;
    
}

.notfound{
    position: absolute;
    top: 50%;
    left: 50%;

}

.darktable{
    background: #2c2c2c;
}

@media screen and (max-width: 1200px) {
    .table{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 840px) {
    .table{
        grid-template-columns: 1fr;
        margin-left: 0;
        left:50px;
        width: 100%;
    }
   
}