.wrapper{
    position: absolute;
    bottom: 50px;
    padding: 5px;
    background: white;
    border: 1px solid black;
    border-radius: 10px;
    width: 50px;
    height: 12px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.switcher{
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgb(0, 0, 0);
    left: 5px;
    transition: all 0.5s ease;
}

.wrapperdark{
    background: rgb(0, 0, 0);
   
    box-shadow: 0px 0px 23px 0px rgb(220, 220, 220);
}

.switcherdark{
    background: rgb(255, 255, 255);
    left: 44px;
}

@media screen and (max-width: 840px) {
    .wrapper{
        bottom: 100px;
    }
}